* {
    fill: currentColor;
}

.ui-alert {
    display: block;
    width: 80%;
    max-width: 100rem;
    border-radius: @border-radius-large;
    font-size: 1rem;
    border: @border-width-thin solid #666;
    background: @background-color;
    color: @text-color;
    padding: 1rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: @box-shadow;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.ui-alert.ui-warning {
    border-color: @ui-red;
    background-color: tint(@ui-red, 90%);
    color: @ui-red;
}

.ui-alert.ui-info {
    border-color: @ui-blue;
    background-color: tint(@ui-blue, 90%);
    color: @ui-blue;
}

.ui-alert.ui-success {
    border-color: @ui-green;
    background-color: tint(@ui-green, 90%);
    color: @ui-green;
}

.ui-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    text-align: center;
    cursor: pointer;
    border: @border-width solid #666;
    border-radius: @border-radius-small;
    background-color: #ccc;
    color: #333;
    box-shadow: @box-shadow-small;
    transition: all 0.1s;
}

.ui-button:hover {
    background-color: #ddd;
    box-shadow: @box-shadow-small-up;
}

.ui-button:active {
    background-color: #bbb;
    box-shadow: @box-shadow-small-down;
}

.ui-button.ui-warning {
    background-color: @ui-red;
    border-color: @ui-red;
    color: #fff;
}

.ui-button.ui-warning:hover {
    background-color: lighten(@ui-red,2.5%);
}

.ui-button.ui-warning:active {
    background-color: darken(@ui-red,2.5%);
}

.ui-button.ui-success {
    background-color: @ui-green;
    border-color: @ui-green;
    color: #fff;
}

.ui-button.ui-success:hover {
    background-color: lighten(@ui-green,2.5%);
}

.ui-button.ui-success:active {
    background-color: darken(@ui-green,2.5%);
}

.ui-button.ui-info {
    background-color: @ui-blue;
    border-color: @ui-blue;
    color: #fff;
}

.ui-button.ui-info:hover {
    background-color: lighten(@ui-blue,2.5%);
}

.ui-button.ui-info:active {
    background-color: darken(@ui-blue,2.5%);
}


.ui-icon-button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
    box-shadow: @box-shadow-small;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ui-icon-button:hover {
    box-shadow: @box-shadow-small-up;
}

.ui-icon-button:active {
    box-shadow: @box-shadow-small-down;
}

.ui-icon-button svg {
    width: auto;
    height: 100%;
}


/****************************************************
 *
 *  UIPanel
 ****************************************************/

.ui-panel {
    display: flex;
    flex-direction: column;
    
    margin: 0.5rem;
    padding: 0.5rem;
    
    border-radius: @border-radius-small;
    box-shadow: @box-shadow-small;
    background-color: lighten(@background-color,2.5%);
    
}

/* ANIMATIONS */

.fade_out {
    animation: fade_out 0.375s ease-in 1;
    animation-fill-mode: forwards;
}

@keyframes fade_out {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}