@background-color: #eeeeff;
@text-color: #1A237E;



@ui-blue: #125E8A;

@ui-dark-grey: #1F363D; 

@ui-green: #00A896;

@ui-mid-grey: #798086; 

@ui-orange: #DE6449;

@ui-purple: #72195A;

@ui-red: #C73E1D;
